



.colors{
    color:var(--secondary-color)!important;
    text-decoration: none !important;
    border: none !important;
}
.discord{
    color:var(--discord-color)!important;
}
.pink-text{
    color: var(--accent-color-2)!important;
}

.pt{
    display:contents;
    text-decoration: none;
    font-weight: bold;
  }