@font-face {
    font-family: 'Minecraft';
    src: url('https://raw.githubusercontent.com/MEGATREX4/m4sub_wiki/main/assets/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.pixelcut{
    clip-path: polygon(0px calc(100% - 16px), 8px calc(100% - 16px), 8px calc(100% - 8px), 16px calc(100% - 8px), 16px 100%, calc(100% - 16px) 100%, calc(100% - 16px) calc(100% - 8px), calc(100% - 8px) calc(100% - 8px), calc(100% - 8px) calc(100% - 16px), 100% calc(100% - 16px), 100% 16px, calc(100% - 8px) 16px, calc(100% - 8px) 8px, calc(100% - 16px) 8px, calc(100% - 16px) 0px, 16px 0px, 16px 8px, 8px 8px, 8px 16px, 0px 16px)!important;
}

section, .cornerCut {
    margin-top: 10px!important;
    padding: 10px!important;
    clip-path: polygon(0px calc(100% - 16px), 8px calc(100% - 16px), 8px calc(100% - 8px), 16px calc(100% - 8px), 16px 100%, calc(100% - 16px) 100%, calc(100% - 16px) calc(100% - 8px), calc(100% - 8px) calc(100% - 8px), calc(100% - 8px) calc(100% - 16px), 100% calc(100% - 16px), 100% 16px, calc(100% - 8px) 16px, calc(100% - 8px) 8px, calc(100% - 16px) 8px, calc(100% - 16px) 0px, 16px 0px, 16px 8px, 8px 8px, 8px 16px, 0px 16px)!important;
    }
    .cornerCutSmall {
        clip-path: polygon(0px calc(100% - 8px), 4px calc(100% - 8px), 4px calc(100% - 4px), 8px calc(100% - 4px), 8px 100%, calc(100% - 8px) 100%, calc(100% - 8px) calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) calc(100% - 8px), 100% calc(100% - 8px), 100% 8px, calc(100% - 4px) 8px, calc(100% - 4px) 4px, calc(100% - 8px) 4px, calc(100% - 8px) 0px, 8px 0px, 8px 4px, 4px 4px, 4px 8px, 0px 8px)!important;
    }

.role-iconp{
    height: 1rem;
    width: 1rem;
}

.minecraftFont{
    font-family: "Minecraft", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Minecraft", sans-serif;
    font-weight: normal!important;
}

section{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

#scroll-container{
    min-height: calc(50px + 10px)!important;
    justify-content: space-evenly;
}

#copy-ip{
    width: 180px;
    justify-content: center;
}

footer{
    font-family: Minecraft, sans-serif;
    font-size: 0.8rem;
}


p, section li{
    font-size: 1.0625rem; /* 17px */
    line-height: 1.625rem; /* 26px */
  }
  
  @media (min-width: 768px) {
    p, section li{
      font-size: 1.125rem; /* 18px */
      line-height: 1.75rem; /* 28px */
    }
  }

