 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1091px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 629px;
  margin: 152px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 736px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-shape-1 {
  width: 113px;
  height: 40px;
  margin: 14px -58px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 113px;
  height: 40px;
  margin: 0 -58px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: NeueMachina-Bold;
  margin: 26px auto 0;
}

.u-section-1 .u-shape-3 {
  width: 113px;
  height: 40px;
  margin: -61px -36px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 387px;
  width: 414px;
  margin: 36px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: ActayWide-Bold;
  letter-spacing: 1px;
}

.u-section-1 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-label-2 {
  font-family: ActayWide-Bold;
  letter-spacing: 1px;
}

.u-section-1 .u-input-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: ActayWide-Bold;
  letter-spacing: 1px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: ActayWide-Bold;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
}

.u-section-1 .u-shape-4 {
  width: 113px;
  height: 40px;
  margin: -202px 801px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 113px;
  height: 40px;
  margin: 0 801px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 113px;
  height: 40px;
  margin: 0 823px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 40px;
  height: 40px;
  margin: -120px auto 60px 172px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 190px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-right: -61px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -83px;
    margin-right: -47px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -239px;
    margin-right: 607px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 607px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 607px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: -137px;
    margin-left: -40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 397px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 427px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 197px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 227px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 227px;
  }
}@font-face {
  font-family: 'NeueMachina-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NeueMachina-Bold.ttf);
}@font-face {
  font-family: 'ActayWide-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ActayWide-Bold.otf);
}